{% extends 'basic.html' %}
{% block body %}
	{% load static %}
	<center>
		<img src="https://image.shutterstock.com/image-vector/medicine-logo-260nw-715548160.jpg" width="80" height="80">
	</center>
	<br/>

	<center>
		<font face="aparajita" size="4" color="#fff" style="font-family: 'Roboto', sans-serif;"> SHILPA MEDICAL STORE</font>
	</center>
	<br/>

	<center>
		<font face="aparajita" size="5" color="#fff" style="font-family: 'Roboto', sans-serif;">CUSTOMER PURCHASE BILL</font>
	</center>
	<br/>


	<center class="container">

		<table class="table" style="width: 500px; font-family: 'Roboto', sans-serif;">
  <tbody>
    <tr>
      <th scope="row">Bill number</th>
      <td>12</td>
    </tr>
    <tr>
      <th scope="row">Name of the Purchased products</th>
      <td>Dixogin , Chloropromozine</td>
    </tr>
    <tr>
      <th scope="row"> Quantity</th>
      <td> 3 , 2</td>
    </tr>
    <tr>
      <th scope="row">Rate per Item</th>
      <td>14 , 16</td>
    </tr>
    <tr>
      <th scope="row">Name of customer</th>
      <td>Yash Borkar</td>
    </tr>
    <tr>
      <th scope="row">Contact no of customer</th>
      <td>9337987156</td>
    </tr>
    <tr>
      <th scope="row">Total MRP</th>
      <td>74</td>
    </tr>
  </tbody>
</table>

		<!-- <table>
		
			<tr>
				<td>
					<font face="aparajita" size="4" color="#fff" style="font-family: 'Roboto', sans-serif;" style="font-family: 'Roboto', sans-serif;">Bill number</font>
				</td>
				<td>
					<font face="aparajita" size="4" color="#fff" style="font-family: 'Roboto', sans-serif;">&nbsp;:&nbsp;&nbsp;&nbsp;' 1 '</font>
				</td>
			</tr>
		
			<tr>
				<td>
					<font face="aparajita" size="4" color="#fff" style="font-family: 'Roboto', sans-serif;">Name of the Purchase product</font>
				</td>
				<td>
					<font face="aparajita" size="4" color="#fff" style="font-family: 'Roboto', sans-serif;">&nbsp;:&nbsp;&nbsp;&nbsp;'Dixogin'</font>
				</td>
			</tr>
		
			<tr>
				<td>
					<font face="aparajita" size="4" color="#fff" style="font-family: 'Roboto', sans-serif;">Quantity</font>
				</td>
				<td>
					<font face="aparajita" size="4" color="#fff" style="font-family: 'Roboto', sans-serif;">&nbsp;:&nbsp;&nbsp;&nbsp;'	3 '</font>
				</td>
			</tr>
		
			<tr>
				<td>
					<font face="aparajita" size="4" color="#fff" style="font-family: 'Roboto', sans-serif;">Rate per Item</font>
				</td>
				<td>
					<font face="aparajita" size="4" color="#fff" style="font-family: 'Roboto', sans-serif;">&nbsp;:&nbsp;&nbsp;&nbsp;'14 '</font>
				</td>
			</tr>
		
			<tr>
				<td>
					<font face="aparajita" size="4" color="#fff" style="font-family: 'Roboto', sans-serif;">Name of customer</font>
				</td>
				<td>
					<font face="aparajita" size="4" color="#fff" style="font-family: 'Roboto', sans-serif;">&nbsp;:&nbsp;&nbsp;&nbsp;'Rahul'</font>
				</td>
			</tr>
		
			<tr>
				<td>
					<font face="aparajita" size="4" color="#fff" style="font-family: 'Roboto', sans-serif;">Contact no of customer</font>
				</td>
				<td>
					<font face="aparajita" size="4" color="#fff" style="font-family: 'Roboto', sans-serif;">&nbsp;:&nbsp;&nbsp;&nbsp;'7366016498 '</font>
				</td>
			</tr>
		
		
			<tr>
				<td>
					<font face="aparajita" size="4" color="#fff" style="font-family: 'Roboto', sans-serif;">Total MRP</font>
				</td>
				<td>
					<font face="aparajita" size="4" color="#fff" style="font-family: 'Roboto', sans-serif;">&nbsp;:&nbsp;&nbsp;&nbsp;'42'</font>
				</td>
			</tr>
		
		
		</table> -->
	</center>
	
	<br/><br/>
	<font face="aparajita" size="4" color="#fff">
		<center style="font-family: 'Roboto', sans-serif;">N.B.: PLEASE KEEP THE RECEIPT....................</center>
	</font><br>
	
	<!-- background:
	url('/static/images/map1.jpg');
	background-size: 1500px 805px; -->
	
	<body style="
		width: 100%;
		height: 100vh;
		background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('/static/images/bg2.jpg');
		background-size: cover;
		
		">
	{% endblock body %}